*{
    margin: 0;
    padding: 0;

}
h1{
    text-align: center;
}
.Page2{
width: 10px;
height: 10px;
margin: auto;
padding: auto;
background-color: blue;
}
aside{
    background-color: cyan;
    width: 20px;
    height: 50px;

}